html, head, body, footer, header, div, a, ul, li{
    margin: 0;
    padding: 0;
}

#pesho{
    background-color: yellow;
    border-radius: 20px;
}

.available-cars #eachItem{
    margin: 0;
    padding: 5px;
    background-color: #422E17;
    border-radius: 10px;
}

.available-cars #data{
    float:right;
}

.available-cars img{
    border-radius: 8px;
    border: 5px solid white;
}
